<section class="todo-list">
  <mat-card>
    <mat-card-header>
      <app-back-button></app-back-button>
      <mat-card-title>
        @if (favoriteOnly) {
          FAVORITES
        } @else {
          All TODOs
        }
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      @if (todayTodos.length > 0) {
        <h3>Today</h3>
        @for (t of todayTodos; track t.id) {
          <app-todo-item
            [todo]="t"
            (removed)="onRemoved($event)"
            (toggledFavorite)="onToggleFavorite($event)"
            (click)="onEdit(t.id)"
          ></app-todo-item>
        }
      }

      @if (otherTodos.length > 0) {
        <h3>Other</h3>
        @for (t of otherTodos; track t.id) {
          <app-todo-item
            [todo]="t"
            (removed)="onRemoved($event)"
            (toggledFavorite)="onToggleFavorite($event)"
            (click)="onEdit(t.id)"
          ></app-todo-item>
        }
      }

      @if (todayTodos.length === 0 && otherTodos.length === 0) {
        <p>No TODOs found.</p>
      }
    </mat-card-content>
  </mat-card>
</section>
